.Rproj.user
.Rhistory
.RData
.Ruserdata
0_carga_datos.R
1_generacion_graficosR.R
26_01_2021_COVID19_PROGRESION_VENEZUELA.xlsx
actualizacion.R
app_covid_ven.Rproj
app.R
codigo_gh_actualizacion.R
covid_intento.Rmd
css/
datos_historicos.xls
df_2_20200121.rds
df1.rds
example.txt
variables.R
script_actualizacion.R
rsconnect
fecha_vieja.rds
funciones_push_github.R
high_charter_options.R
historico_estados.xls
iniciar_variables.R
procesamiento_historico_estados.R
.gitnore
0_carga_datos.R
